# Logs
npm-debug.log*

# Dependency directories
node_modules
yarn.lock

# Build directory
build

# Tests coverage directory
coverage

# Application files
.flap-app-launcher.log
.flap-app-launcher.stats
.flap-app-launcher.config.json

# IDE
.idea
